<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar">
            <div class="login">
                <ul>
                  {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.profile') }}" class="signup">Profile</a></li>
                </ul>
                  {% endif %}
                  {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.signup') }}" class="signup">Signup</a></li>
                </ul>
                  {% endif %}
                  {% if not current_user.is_authenticated %}
                <button type="button" class="btn" onClick="window.location.href='{{ url_for('auth.login') }}';">Log In</button>
                  {% endif %}
                  {% if current_user.is_authenticated %}
                <button type="button" class="btn" onClick="window.location.href='{{ url_for('auth.logout') }}';">Log Out</button>
                  {% endif %}
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('main.index') }}"><img src=static/images/logo.png class="logo"><p class="app">Spotify</p></a></li>
            <li class="home-links"><span><i class="fa fa-home" style="color:white;" aria-hidden="true"></i></span><a href="{{ url_for('main.index') }}" >Home</a></li>
            <li class="search-links"><span><i class="fa fa-search" style="color:white;"></i></span><a href="{{ url_for('main.search') }}" > Search</a></li>
            <li class="library-links"><span><i class="fa fa-photo-video" style="color:white;"></i></span><a href="#" >Your Library</a></li>
            <div class="login-first">
              <ul>
                <li class="Playist-links"><span><i class="fa fa-plus-square"></i></span><a href="#" >Your Playlist</a></li>
                <li class="Liked-links"><span><i class="fa fa-heart"></i></span><a href="#" >Liked Songs</a></li>
              </ul>
            </div>
        </ul>
    </nav>
    <main>
        <div class="foryourlising">
            <ul>
                <li><a href="{{ url_for('main.foryourlisting') }}">For Your Listening Pleasure!</a></li>
            </ul>
                <div class="container" >
                    <article>
                        <div class="listening" onClick="player()">
                            <img src=static/images/coverkiller.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Eminem</h2>
                            <p>Music to be <br>murdered by.</p>
                        </div>
                        <div class="listening2" onClick="player()">
                            <img src=static/images/cover1.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Instrumental Covers</h2>
                            <p>Soft Jazz for A Rainy Day,<br>Romantic Time.</p>
                        </div>
                        <div class="listening3" onClick="player()">
                            <img src=static/images/cover2.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Whistle</h2>
                            <p>TRAILER<br>TENSION.</p>
                        </div>
                        <div class="listening4" onClick="player()">
                            <img src=static/images/cover3.png class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Weeknd</h2>
                            <p>This is the essential <br>The Weeknd.</p>
                        </div>
                    </article>
                </div>
        </div>
        <div class="foryourlising1">
            <ul>
                <li><a href="#">Chart</a></li>
            </ul>
                <div class="container" onClick="player()">
                    <article>
                        <div class="listening" onClick="player()">
                            <img src=static/images/chart1.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Top 50-Global</h2>
                            <p>The most played songs<br> around the world.</p>
                        </div>
                        <div class="listening2" onClick="player()">
                            <img src=static/images/chart2.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Top Hits</h2>
                            <p>Top hits songs<br>of 2021.</p>
                        </div>
                        <div class="listening3" onClick="player()">
                            <img src=static/images/chart3.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Top 50 Hip-Hop</h2>
                            <p>Catch the hottest<br>hip-hop songs.</p>
                        </div>
                        <div class="listening4" onClick="player()">
                            <img src=static/images/chart4.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Top 50  Hindi Songs</h2>
                            <p>Tune in to the top tracks<br>from Bollywood.</p>
                            <p></p>
                        </div>
                    </article>
                </div>
        </div>
        <div class="foryourlising2">
            <ul>
                <li><a href="{{ url_for('main.artist') }}">Artist</a></li>
            </ul>
                <div class="container">
                    <article>
                        <div class="listening" onClick="player()">
                            <img src=static/images/artist.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Childish Gambino</h2>
                        </div>
                        <div class="listening2" onClick="player()">
                            <img src=static/images/artist5.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Johnny Cash</h2>
                        </div>
                        <div class="listening3" onClick="player()">
                            <img src=static/images/artist6.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>A.R Rahman</h2>
                        </div>
                        <div class="listening4" onClick="player()">
                            <img src=static/images/artist4.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Selena Gomez</h2>
                        </div>
                    </article>
                </div>
        </div>
            <div class="media-player" id="player">
                <div class="volume"><span><i class="fas fa-volume-up"></i></span></div>
                <div class="backward"><span><i class="fas fa-backward"></i></span></div>
                <div class="pause"><span><i id="pause" class="fas fa-pause"></i></span></div>
                <div class="forward"><span><i class="fas fa-forward"></i></span></div>
               <div class="expand"><span><i class="fas fa-expand"></i></span></div>
            </div>
    </main>
     <script src="{{ url_for('static',filename='app.js')}}"></script>
</body>
</html>
